{% extends 'base.html.twig' %}

{% block title %}Mon compte - STC{% endblock %}

{% block content %}
  <div class="container">
  <h1>Mon compte</h1>

    {% if app.user.customerValidate == false %}

      <div class="alert alert-primary" role="alert">
        <p><strong>Votre inscription s'est correctement déroulée.</strong><br><br>
        Merci de bien vouloir patienter que <strong>STC-Immobilier valide</strong> votre inscription,
        vous recevrez un <strong>email de confirmation.</strong></p>
        <p> ✅ Votre compte a été créé.<br>
          ☑️ Vous allez bientôt recevoir un email.</p>
      </div>

    {% else %}
      <div class="alert alert-success" role="alert">
        Félicitations votre compte est validée, vous pouvez dès à présent profiter des offre privilège.
      </div>

      <h1>Mon compte</h1>
      Bienvenue {{app.user.firstname}} dans votre compte.<br/>
      c'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
      <hr>
    <div class="row">

          <div class="col-md-4">
            <div class="account-item text-center">
              <img src="{{ asset('assets/img/lock.png')}}" alt="Modifier mon mot de passe"></br>
              <a href="{{ path('account_password')}}"> Modifier mon mot de passe</a>
            </div>
          </div>
        

      

      {% endif %}

      {% if is_granted('ROLE_ADMIN') %}

      
          <div class="col-md-4">
            <div class="account-item text-center">
            <img src="{{ asset('assets/img/admin.png')}}" alt="Accéder au backoffice"></br>
              <a href="/admin" target="_blank"> Accéder au backoffice</a>
            </div>
          </div>
    </div>
      
    {% endif %}

  </div>

{% endblock %}
