html {
    position: relative;
    min-height: 100%;
}


body {
margin-bottom: 150px;
background-color: #F5F6F7;
  }

h1 {
      line-height: 2;
  }

h2 {
margin-bottom: 30px;

}
/* ------------------------------------------------- carrousel */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* ------------------------/END carrousel */

  
/* ------------------------------------------------- Nav */

#nav{
    position:relative;
 }


.navebar-item-custom, .navebar-item-custom a {

    color: white;
}
/* ------------------------------ /END Nav */




/* ------------------------------------------------------ Home */



.home-logo {
width: 150px;
height: 150px;

}
/*------------------ avis clients*/


.nos-avis{
background-image: url('/assets/img/fondconfiancer.jpg');
margin-top: 80px;
margin-bottom: 80px;
position: relative;
background-size: cover;
}

.nos-avis h1 {
    
     text-align: center;
    color: white;
}


.avis-clients{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.avis-clients a {
text-decoration: none;

}


#background-img h1 {
text-align: center;
color: white;

}



/*------------------ /END avis clients*/

/* --------------------------------   Reassurance */

.messageReassurance img {

    margin-bottom: 20px;
}

/* ------------- /END Reassurance */


/* ----------------------- /END Home */


/* ------------------------------------------------- Produits SL */

.product-item h6 {

    text-transform: uppercase;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.product-item {
margin-top: 1px;


}

.product-item .product-dispoDate {
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
    color: tomato;
}

.product-item .product-prix{

    font-size: 14px;
    font-weight: bold;
   
}

.product-item .product-picto{

width: 17px;
   
}
.product-item .product-privilege{
text-transform: uppercase;
color:#17A2B8;
font-weight:500 ;

       
}

/*---------- /END produits SL */


/* ------------------------------------------------- Produits FP */
#carouselProduct{
    margin-bottom: 0px;
}

.product-container {
    margin-bottom:150px;
}

.product-nous-contacter {
    border-radius: 5px;
    background-color: #17A2B8;
    padding: 20px;
    width: 100%;
    height: 200px;
}

.product-page-item .product-page-dispoDate {
    font-size: 14px;
    display: inline;
    color: tomato;
}

.product-information {
 background-color: white;
 border-radius: 5px;
 padding: 20px;


}

.product-page-price {
font-size: 15px;

}

/*------------------- /END produits FP */

/* ------------------------------------------------- Mon compte */

.account-item {
background-color: #f1f2f6;
padding: 70px;
border-radius: 5px;

}

.account-item a {
text-transform: uppercase;
font-size: 13px;
color:#202121;
font-weight: bold;

}

.account-item a:hover {
color:#007BFF;
text-decoration: none;
}

/* --------------- /END Mon compte */

/* ------------------------------------------------- Nos contacter */
.featurette{

    margin-bottom: 80px;
}
/* --------------/END Nos contacter */
/* ------------------------------------------------- Nous contacter */
.contact-logo{
    
    width: 150px;
    height: 150px;

}




/* ------------------------------------------------- Footer */

  .footer-custom {
    /*display: block;
    
    bottom: 0;
    height: 300px;*/


    display: block;
    width: 100%;
    margin-top: 80px;
    position: absolute;
    align-items: flex-start;
    padding: 50px 0 80px;
    background-color: #76797c;

} 
.home-footer-logo{
text-align: center;
 
    width: 100px;
    height: 100px;
}



.footer-col-lien a, h4  {

    text-decoration: none;
    color: white;

}

.footer-copyright {
    margin-top: 30px;
    text-align: center;
    color: white;
}
.footer-copyright a {
    color: white;
}



/* -------------/END  Footer */

