{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

        <h2>Inscription</h2>
        <p>En créant un <strong>compte sur le site STC-Immobilier:</strong><br/> vous allez pouvoir bénéficier des<strong> offres privilèges</strong>,
         indiquées par un petit diamant <img src="{{ asset('assets/img/vip.png')}}" class="product-picto" alt="picto vip" width="20" height="20">
         dans le menu <strong>"Nos offres"</strong>,<br/> visibles uniquement aux abonné. </p>

         <p>Une fois votre compte créé et validé par STC-Immobillier,
        <strong>vous recevrez un mail de confirmation.</strong></p>

        {% if notification %}
        <div class= "alert alert-info">{{ notification }}</div>
        <hr>
        {% endif %}

    {{form(form)}}

 </div>

{% endblock %}
