{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

        <h2>Inscription</h2>
        <p>En créer un <strong>compte sur le site STC-Immobilier:</strong><br/> vous allez pouvoir bénéficier <strong>des offres privilèges</strong>,
         indiquer par un petit diamant <img src="{{ asset('assets/img/vip.png')}}" class="product-picto" alt="picto vip" width="20" height="20">
         dans le menu Nos offres,<br/> visible uniquement aux abonné. </p>

         <p>Une fois votre compte créé il faudra patienter que STC-Immobilier valide votre compte.
        <strong>Vous recevrez un email de validation</strong> très prochainement. </p>

        {% if notification %}
        <div class= "alert alert-info">{{ notification }}</div>
        <hr>
        {% endif %}

    {{form(form)}}

 </div>

{% endblock %}
