{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

        <h2>Inscription</h2>

        {% if notification %}
        <div class= "alert alert-info">{{ notification }}</div>
        <hr>
        {% endif %}

    {{form(form)}}

 </div>

{% endblock %}
