{% extends 'base.html.twig' %}
{% block title %}Nous contacter - STC {% endblock %}
{% block content %}
<div class="container">
    <h1>Nous contacter</h1>
    <p>L’équipe STC sera ravie de répondre à votre demande dans les meilleurs délais. N’hésitez pas à préciser dans le message l’objet de votre demande : achat d’un local, la vente d’un local, location en tant que bailleur, ou la location en tant que locataire.</p>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-primary">{{message}}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8 contact-custom">{{form(form)}}</div>
        <div class="col-md-4">
        <img src="{{ asset('assets/img/logo_stc_200x200.png')}}" class="contact-logo" alt="logo STC">
            <hr>
            <p>
            Téléphone: 06 60 91 78 21 <br/>
            Adresse: 26 rue Constantin Pecqueur <br/>
            95150 Taverny.<br/>
            contact@stc-immobilier.fr
            </p>
        </div>
    </div>
</div>

{% endblock %}
