{% extends 'base.html.twig' %}

{% block title %}Qui Sommes Nous!{% endblock %}

{% block content %}
    <div class="container">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Qui Sommes Nous !</h2>
                <section>
                    <p>STC est une société spécialisée dans le conseil en immobilier d’entreprise en
                    Île de France. Fort d’une expérience professionnelle de plus de  10 ans dans 
                    la commercialisation locaux d’activités, entrepôts et bureaux, nous vous 
                    proposons des solutions adaptées et personnalisées que vous soyez propriétaires,
                    utilisateurs ou investisseurs.</p>

                    <p>Acteur local implanté en plein cœur de la zone d’activité de Taverny au bord des axes autoroutiers A15 et A115,
                    nous vous apportons notre connaissance du secteur et du marché de l'immobilier d'entreprise. </p>


                  
                    <p>Notre implantation stratégique au cœur du marché, notre expertise de professionnelle dans le secteur et
                    notre proximité avec le client constituent nos forces.</p>


                    <p>NOS ATOUTS: réactivité, proximité, créativité, connaissance du marché. </p>
                 </section>
            </div>

            <div class="col-md-5 order-md-1">
                <img src="{{asset('assets/img/qui_500x500.jpg')}}" class='img-fluid' alt="nous sommes là pour vous tout au long du projet">
            </div>
            
        </div>
    </div>
    
{% endblock %}
 