{% extends 'base.html.twig' %}

{% block title %}Qui Sommes Nous!{% endblock %}

{% block content %}
    <div class="container">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Qui Sommes Nous !</h2>
                <p>Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior
                laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus
                crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa,
                accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate
                imperator Mediolanum ad hiberna discessit.
                Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi)
                praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas;
                itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime;
                ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti
                et calamitosi quam ii qui putentur beati.</p>
            </div>

            <div class="col-md-5 order-md-1">
                <img src="{{asset('assets/img/qui_500x500.jpg')}}" class='img-fluid' alt="nous sommes là pour vous tout au long du projet">
            </div>
            
        </div>
    </div>
{% endblock %}
