{% extends 'base.html.twig' %}

{% block title %}Mentions legales{% endblock %}

{% block content %}

<div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Mentions legales</h2>
                <section>
                    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la
                     Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et
                     visiteurs du site : <a href="https://www.stc-immobilier.fr/">www.stc-immobiler.fr</a> les informations suivantes :</p>

                    <p><strong>ÉDITEUR</strong><br/>
                    Le site<a href="https://www.stc-immobilier.fr/"> www.stc-immobiler.fr</a> est la propriété exclusive de <strong>SARL SOCIETE STC</strong>, qui l'édite </p>

                    <p><strong>SOCIETE STC</strong><br/>
                    SARL au capital de 7 700€</p>

                    <p><strong>ADRESSE</strong><br/>
                    26 rue Constantin Pecqueur<br/>
                    95150 Taverny<br/>
                    Immatriculée au registre du commerce des Sociétés de <strong>Taverny</strong> sous le numéro 429 868 579 00016
                    </p>

                    <p>
                    Numéro TVA intracommunautaire : 000000000<br/>
                    Adresse de courrier électronique : contact@stc-immobilier.fr
                    </p>

                    <p>
                    Directeur de la publication : Yann Cochard<br/>
                    Contactez le responsable de la publication : yanncochard@hotmail.fr
                    </p>

                    <p>
                    <strong>HÉBERGEMENT</strong><br/>
                    Le site est hébergé par :<br/>
                    OVH<br/>
                    Siège social : 2 rue Kellermann<br/>
                    59100 Roubaix - France
                    </p>



                 </section>
            </div>
        </div>
</div>

{% endblock %}
